<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InterProcessAndroid"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.InterProcessAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LibActivity"
            android:process=":broadcast"
            android:launchMode="singleTask"
            android:theme="@style/Theme.InterProcessAndroid" />

        <provider
            android:authorities="@string/content_provider_main_ipc"
            android:name=".Provider0"
            android:exported="false" />
        <provider
            android:authorities="@string/content_provider_lib_ipc"
            android:name=".Provider1"
            android:process=":broadcast"
            android:exported="false" />
        <provider
            android:authorities="@string/content_provider_provider_ipc"
            android:name=".Provider2"
            android:process=":provider"
            android:exported="false" />
    </application>

</manifest>